/* src/components/FeatureShowcase/FeatureShowcase.module.css */
  .featureGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  @media (max-width: 800px) {
    .featureGrid {
      grid-template-columns: 1fr;
       gap: 1rem;
    }
  }