/* src/components/resources/additional-resources.module.css */

.resourcesSection {
  padding: 0 0;
  margin: 0 auto;
}

.title {
  margin-top: 0;
  margin-bottom: 0.9rem;
  color: var(--text-primary);
}

.resourceGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.resourceCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  border: 1px solid var(--ifm-color-emphasis-200); /* border border-[--ifm-color-emphasis-200] */
  background-color: var(
    --ifm-card-background-color
  );
  box-shadow: var(--ifm-global-shadow-sm); /* shadow-sm */
}

html[data-theme="dark"] .resourceCard {
  background-color: var(--button-bg-dark);
}

.resourceCard:hover {
  background-color: var(--ifm-color-emphasis-100);
  border-color: var(--ifm-color-emphasis-400);
  text-decoration: none;
  color: var(--ifm-font-color-base);
}

html[data-theme="dark"] .resourceCard:hover {
  background-color: var(--button-bg-dark-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid var(--ifm-color-emphasis-200); /* border border-[--ifm-color-emphasis-200] */
  width: 40px;
  height: 40px;
  border-radius: 6px;
  margin-bottom: 1rem;
}

html[data-theme="dark"] .iconBox {
  background-color: rgba(255, 255, 255, 0.1) !important;
  background-color: var(--docs-color-text);
  border: 2px solid var(--ifm-color-emphasis-200); /* border border-[--ifm-color-emphasis-200] */
}

.icon {
  width: 20px;
  height: 20px;
  color:var(--neutral-800)!important
}

.contentContainer {
  flex: 1;
}

.resourceTitle {
  margin-bottom: 0.3rem;
  text-decoration: none;
  color: var(--text-primary);
}

.resourceDescription {
  text-decoration: none;
  color: var(--text-secondary);
  margin: 0;
  font-size: 0.82rem;
}

/* Responsive adjustments */
@media (max-width: 996px) {
  .resourceGrid {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 0.4rem;
  }
  .resourcesSection {
    padding: 0;
  }
  .resourceTitle {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1rem !important; /* Equivalent to text-2xl */
  }
  .resourceDescription {
    font-size: 0.775rem;
  }
  .icon {
    width: 15px;
    height: 15px;
  }
  .iconBox {
    width: 30px;
    height: 30px;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 768px) {
  .resourceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .resourceGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .resourcesSection {
    padding: 1.5rem 1rem;
  } */
}
