/* --- Section Container --- */
.gridSection {
  margin-bottom: 4rem; /* Equivalent to mb-12 */
}

/* --- Section Title --- */
.gridTitle {
  margin-bottom: 0.45rem;
  color: var(--text-primary);
}

/* --- Section Description --- */
.gridDescription {
  margin-bottom: 1.5rem; /* Equivalent to mb-10 */
  max-width: 70vw; /* Equivalent to max-w-3xl */
  color: var(--text-secondary) !important;
}

@media (max-width: 996px) {
  .gridDescription {
    max-width: 100vw;
    font-size: 0.8rem !important; /* lg:text-5xl */
  }
}
/* --- Grid Layout --- */
.frameworkItemsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* Default: grid-cols-1 */
  gap: 0.6rem; /* Equivalent to gap-6 */
}

@media (max-width: 996px) {
  .gridTitle {
    font-size: 20px;
  }
  .gridSection {
    margin-bottom: 40px; /* mb-12 */
}

  .frameworkItemsGrid {
   grid-template-columns: repeat(3, minmax(0, 1fr)); /* lg:grid-cols-3 */
    gap: 12px;
  }

}

@media (max-width: 790px) {
  /* sm breakpoint */
  .frameworkItemsGrid {
        gap: 12px;

    grid-template-columns: repeat(2, minmax(0, 1fr)); /* sm:grid-cols-2 */
  }
}

@media (min-width: 1000px) {
  /* xl breakpoint */
  .frameworkItemsGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* xl:grid-cols-4 */
  }
}
