/* src/theme/Admonition/Layout/styles.module.css */

/* --- Main Admonition Container --- */
.admonition {
  font-family: var(--font-family-sans-serif);
  display: flex;
  align-items: flex-start;
  min-height: 74px;
  max-width: 760px;
  border-radius: 12px;
  padding: 12px;
  gap:12px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-left-width: 4px;
  overflow: hidden;
}

/* --- Admonition Heading Area (will contain Icon and Title) --- */
.admonitionHeading {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

/* --- Admonition Icon Styling --- */
.admonitionIcon {
  /* This class is applied to the span wrapping the SVG icon */
  margin-top: 0.1em; /* Adjust as needed */
  display: block; /* Or flex, if you need to align multiple things inside */
  line-height: 1; /* Helps with consistent vertical alignment if icon is slightly off */
}

/* --- Styles for the SVG icon itself --- */
/* This targets any SVG inside an element with the .admonitionIcon class */
.admonitionIcon svg {
  width: 16.67px;
  height: 16.67px;
  display: inline-block; /* Changed from block to better align with text if title was present */
  vertical-align: middle; /* Good for inline-block alignment */
  /* Default color, can be overridden by specific types */
  color: var(--ifm-color-emphasis-700); /* Default color */

}


/* --- Admonition Content Area (Main Text) --- */
.admonitionContent {
  flex-grow: 1;
  min-width: 0;
  margin: 0;
  padding: 0;
}

.admonitionContent > *:first-child {
  margin-top: 0;
}

.admonitionContent > *:last-child {
  margin-bottom: 0;
}

:global(.theme-admonition-note) .admonitionIcon svg {
  color: var(--text-secondary);
} 

html[data-theme='dark'] :global(.theme-admonition-note) .admonitionIcon svg {
  color: var(--static-white);
}

:global(.theme-admonition-info) .admonitionIcon svg {
  color: #094f90;
} 

html[data-theme='dark'] :global(.theme-admonition-info) .admonitionIcon svg {
  color: #A8BEFF;
}

:global(.theme-admonition-success) .admonitionIcon svg {
  color: #006514;
} 

html[data-theme='dark'] :global(.theme-admonition-success) .admonitionIcon svg {
  color: #73D586;
}


:global(.theme-admonition-warning) .admonitionIcon svg {
  color: #ab6400;
} 

html[data-theme='dark'] :global(.theme-admonition-warning) .admonitionIcon svg {
  color: #FFCA16;
}

:global(.theme-admonition-danger) .admonitionIcon svg {
  color: #CD2200;
} 

html[data-theme='dark'] :global(.theme-admonition-danger) .admonitionIcon svg {
  color: #FF977D;
}